# --- SEGURIDAD (MUY IMPORTANTE) ---
.env

# Archivos compilados de Python
__pycache__/
*.pyc

# Carpetas de entorno virtual
venv/
.venv/
env/

# Archivos de sistema y Flet
.DS_Store
flet_app/
build/
dist/
assets/